@import "bootstrap/dist/css/bootstrap.min.css";
<<<<<<< HEAD
@import "bootstrap-icons/font/bootstrap-icons.css";
=======
@import "bootstrap-icons/font/bootstrap-icons.css";

>>>>>>> e32ff75 (Add Overzicht Medewerkers feature: views, controller, seeder, happy/unhappy flow)
